server/config/config.env
_movie_data/config.env
_python/cleaning/.venv
_python/praw/__pycache__
_python/praw/.venv
_python/processing/__pycache__
_python/processing/.venv
_python/spacy/__pycache__
_python/spacy/.venv
_python/spacy/test_ner/.venv
node_modules
server/node_modules
client/node_modules
tailwind.config.js
